.page-title
  .title_left
    %h3 Employees
.clearfix
.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2
          Employee -
          %small
            = @employee.name
        .nav.navbar-right
          %a.btn.btn-sm.btn-primary{href: admin_employees_path} Employees
        .clearfix
      .x_content
        .row
          .col-sm-6
            %h4 Employee Details
            %dl.dl-horizontal
              %dt Name:
              %dd= @employee.name
              %dt Email:
              %dd= @employee.email
              %dt Contact Number:
              %dd= @employee.contact_number
              %dt Disabled:
              %dd= @employee.disabled
              %dt Address:
              %dd= @employee.address
            %h4 Employee Coupons Details
            - @employee.employee_coupons.each do |employee_coupon|
              %dl.dl-horizontal
                %dt Code:
                %dd= employee_coupon.coupon.code
                %dt Subscribe Date:
                %dd= employee_coupon.created_at
