.page-title
  .title_left
    %h3 Coupons
.row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2 Coupons
        .nav.navbar-right
          %a.btn.btn-sm.btn-primary{href: import_coupons_admin_coupons_path} Import Coupons
          %a.btn.btn-sm.btn-primary{href: new_admin_coupon_path} New Coupon
        .clearfix
      .x_content
        .row
          .col-sm-12.col-xs-12.col-md-12
            %table.table.table-striped.projects
              %thead
                %tr
                  %th #
                  %th Code
                  %th Expiry Date
                  %th Vendor
              %tbody
                - @coupons.each do |coupon|
                  %tr
                    %td= coupon.id
                    %td= coupon.code
                    %td= coupon.expiry_date
                    %td= coupon.vendor
                    %td.text-right
                      .btn-group
                        = link_to 'Show', admin_coupon_path(coupon), class: 'btn btn-xs btn-primary', type:'button'
                        = link_to 'Edit', edit_admin_coupon_path(coupon), class: 'btn btn-xs btn-primary', type:'button'
                        = link_to 'Destroy', admin_coupon_path(coupon), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger', type:'button'
