!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title CouponManagement
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.nav-md
    .container.body
      .main_container
        = render partial: "layouts/partials/sidebar"
        = render partial: "layouts/partials/topnavbar"
        .right_col{role: "main"}
          %div
            = yield
        = render partial: "layouts/partials/footer"
